<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Jack</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>PDF</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
			<key>NSDocumentClass</key>
			<string>JackDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Word Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.openxmlformats.wordprocessingml.document</string>
				<string>com.microsoft.word.doc</string>
				<string>public.rtf</string>
				<string>com.apple.rtfd</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Jack</string>
	<key>CFBundleIconFile</key>
	<string>jack</string>
	<key>CFBundleIdentifier</key>
	<string>net.thinkopen.jack</string>
	<key>CFBundleName</key>
	<string>Jack</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.9.1</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>net.thinkopen.jack.convert</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>jack</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>49</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>© 2026 ThinkOpen Inc.</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Convert to PDF with Jack</string>
			</dict>
			<key>NSMessage</key>
			<string>convertService</string>
			<key>NSPortName</key>
			<string>Jack</string>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSSendFileTypes</key>
			<array>
				<string>org.openxmlformats.wordprocessingml.document</string>
				<string>com.microsoft.word.doc</string>
				<string>public.rtf</string>
				<string>com.apple.rtfd</string>
				<string>public.plain-text</string>
			</array>
		</dict>
	</array>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/jackarkcreator/jack/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>CqUay909OACicl8NHhtmROrh2hE1RTOWDevvPYXxPb8=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
</dict>
</plist>
